#frontpages-background {
    background-image: url("/images/backgroundfrontpage.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-link {
    color: black;
    font-family:Verdana;
}
.nav-item {
    margin-left: 10px;
}
#navlist > li > a:hover {
    color: gray;
}
#LoginSignupContainer{
    justify-content: end;
    margin-bottom: -15px;
}
.navbar-brand {
    margin-left: 20px;
    font-family: "Roboto Light";
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 0px;
}
#brandlogo {
    width: 50px;
    height: 40px;
    margin-right: 10px;
}
#tagline {
    color: white;
    font-size: 55px;
    font-family: Verdana;
    margin-top: 70px;
}
#signupshoppr {
    color: white;
    font-size: 55px;
    font-family: Verdana;
    margin-top: 140px;
}
#landingcontent {
    margin-top: 110px;
}
#navlist {
    list-style-type: none;
    align-items: center;
}
#admin-navlist {
    list-style-type: none;
    align-items: center;
}
#landingcontent-smalldescription {
    color: white;
    font-family: Verdana;
}
#signup-smalldescription {
    color: white;
    font-family: Verdana;
}
#buttonlogin {
    width: 80px;
    height: 40px;
}
#buttonlogin:hover {
    background-color: white;
    color: black;
    border-color: white;
}
#formbuttonregister:hover {
    background-color: black;
    color: white;
    border-color: black;
}
#formbuttonlogin:hover {
    background-color: black;
    color: white;
    border-color: black;
}
#signupform {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

#loginform {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 450px;
    margin-top: 80px;
}
#linklogin {
    text-decoration: none;
    display: block;
}
#nameError {
    display: none;
    font-size: 12px;
    justify-content: start;
    margin-top: 0px;
}
#passwordError {
    display: none;
    font-size: 12px;
    justify-content: start;
    margin-top: -13px;
    margin-bottom: 5px;
}
#pass8Char {
    font-size: 12px;
    justify-content: start;
    margin-bottom: 4px;
    color: #d9534f;
    display: none;
}
#passSpecialChar {
    font-size: 12px;
    justify-content: start;
    margin-bottom: 4px;
    color: #d9534f;
    display: none;
}
#passNumber {
    font-size: 12px;
    justify-content: start;
    margin-bottom: 4px;
    color: #d9534f;
    display: none;
}

#pass8char_checkcircle {
    display: inline-block;
    margin-right: 5px;
}
#passNumber_checkcircle {
    display: inline-block;
    margin-right: 5px;
}
#passSpecialChar_checkcircle {
    display: inline-block;
    margin-right: 5px;
}
#pass8char_circlefill {
    display: none;
    margin-right: 5px;
}
#passNumber_circlefill {
    display: none;
    margin-right: 5px;
}
#passSpecialChar_circlefill {
    display: none;
    margin-right: 5px;
}
.form-control {
    border-color: dimgray;
    border-width: 2px;
}
#FormInput-ErrorContainer {
    background-color: #ffcdd2;
    border: 1px solid #d9534f;
    height: auto;
    display: none;
}
#EditProfileInput-ErrorContainer {
    background-color: #ffcdd2;
    border: 1px solid #d9534f;
    height: auto;
    display: none;
}
#EditProfileInput-ErrorText {
    color: #b21f2d;
    margin-bottom: 2px;
}
#IncProfileInfo-ErrorText {
    color: green;
    margin-bottom: 2px;
}
#ServerSide-ErrorContainer {
    background-color: #ffcdd2;
    border: 1px solid #d9534f;
    height: auto;
}
#IncInfoError-MainContainer {
    background-color: white;
    display: flex;
}
#IncProfileInfo-ServerSide-ErrorContainer {
    background-color: #D9F8C4;
    border: 1px solid #5cb85c;
    height: auto;
    width: 500px;
    display: block;
}
#FormInput-ErrorText {
    color: #b21f2d;
    margin-bottom: 2px;
}
#navdropdown {
    margin-left: -90px;
}
#shoppingcart {
    font-size: 22px;
    margin-right: 10px;
}
#homeicon {
    font-size: 22px;
    margin-right: 10px;
}
#menuicon {
    font-size: 20px;
    margin-right: 10px;
}
#adminmenuicon {
    font-size: 20px;
    margin-right: 10px;
}
#profile-maincontainer {
    padding-top: 100px;
    background-color: white;
}
#profile-secondarycontainer {
    padding-top: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 2px 0px #969696;
    padding-bottom: 0px;
}
#profile-navigationbar {
    background-color: white;
}
#profilepic {
    width: 140px;
    height: 120px;
    margin-right: 30px;
}
#cart-tab {
    border-bottom: 3px solid black;
    width: 170px;
    padding-bottom: 10px;
    color: black;
}
#pendingorders-tab {
    width: 170px;
    color: gray;
}
#completedorders-tab {
    width: 170px;
    color:gray;
}

#profile-ordernav {
    margin-bottom: -25px;
    margin-left: -50px;
}
#profile-shoppingcart {
    font-size: 22px;
    margin-right: 10px;
    display: none;
}
#profile-clipboardcomplete {
    font-size: 22px;
    margin-right: 10px;
    display: none;
}
#profile-cardlistpending {
    font-size: 22px;
    margin-right: 10px;
    display: none;
}
#profile-tabtext {
    margin: 0px;
    text-align: center;
}
#profile-navlist {
    list-style-type: none;
    align-items: center;
}
#cart-product-card {
     width: 900px;
     height: auto;
     border-radius: 1px;
 }
#pending-order-product-card {
    width: 900px;
    height: auto;
    border-radius: 1px;
}
#completed-order-product-card {
    width: 900px;
    height: auto;
    border-radius: 1px;
}
#product-label-bar {
    width: 900px;
    height: auto;
    border-radius: 1px;
    display: none;
}
#product-img {
    width: 80px;
    height: 80px;
}
#product-name {
    font-size: 14px;
}
#product-price {
    font-size: 14px;
}
#product-total-price {
    font-size: 17px;
}
#CategoryCode {
    margin-left: -13px;
}
#AddCategoryBtn {
    margin-left: -15px;
}
.navbar-nav {
    margin-right: 50px;
}
.card-body {
    padding-left: 2px;
    padding-right: 2px;
}
#cart-quantity-input {
    width: 60px;
    height: 30px;
}
#ProductPrice::-webkit-outer-spin-button,
#ProductPrice::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#Edit-ZipCode::-webkit-outer-spin-button,
#Edit-ZipCode::-webkit-inner-spin-button,
#Edit-ContactNumber::-webkit-outer-spin-button,
#Edit-ContactNumber::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#edit-profile-button:hover {
    color: black;
}
#savebutton-EditProfile {
    width: 80px;
    height: 40px;
}
#savebutton-EditProfile:hover {
    background-color: white;
    color: black;
    border-color: white;
}
#EditProfile-ModalTitle {
    font-family: Verdana;
}
#productcartcontainer {
    display: block;
}
#pendingorderscontainer {
    display: none;
}
#completedorderscontainer {
    display: none;
}
#hamburgericon {
    color: white;
    font-size: 25px;
}
#adminlogoutcontainer {
    margin-bottom: -15px;
    margin-right: -10px;
}
#adminnavdropdown {
    margin-right: 20px;
    width: 150px;
}
#sidebarcontent {
    width: 300px;
}
#adminSidebar-tabActive {
    background-color: lightgray;
}
#admin-maincontainer {
    margin-top: 90px;
    padding: 10px;
}
#admin-tablecontainer {
}
th {
    font-family: Verdana;
    font-size: 15px;
}
#table-title {
    font-family: Verdana;
}
#DeleteProductBtn {
    width: 150px;
}
#EditProductBtn {
    width: 150px;
}
#Error-AlertDialog {
    position: absolute;
    margin-top: 80px;
    right: 8px;
    z-index: 0;
    opacity: 0;
    animation: fadeinout 5s ease-in-out 1;
    height: auto;
    padding-bottom: 5px;

}
#AdminError-AlertDialog {
    position: absolute;
    margin-top: -20px;
    right: 8px;
    z-index: 0;
    opacity: 0;
    animation: fadeinout 5s ease-in-out 1;
    height: auto;
    padding-bottom: 5px;

}
@keyframes fadeinout {
    /* 40% would be 3secs, 60% 4.5 secs */
    5% {
        z-index: 1;
        opacity: 1;
    }
    50%{
        z-index: 1;
        opacity: 1;
    }
    75%{
        z-index: 1;
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
}
#Error-AlertDialogText {
    margin-top: 5px;
}
#Error-AlertClose {
    margin-top: -14px;
}
#AdminError-AlertDialogText {
    margin-top: 5px;
}
#AdminError-AlertClose {
    margin-top: -14px;
    font-size: 22px;
}
#ProductImage {
    width: 170px;
    height: 150px;
}
#editproductimage-label {
    margin-right: 10px;
    margin-top: 3px;
}
#currentproductimage-container {
    width: 265px;
    margin-left: 0px;
}
#stockinput-container {
    width: 600px;
}
#editproduct-buttoncontainer {
    display: flex;
    justify-content: start;
}
#deleteaccount-buttoncontainer {
    display: flex;
    justify-content: start;
}
#EditAccountBtn {
    width: 150px;
}
#DeleteAccountBtn {
    width: 150px;
}
#jumbotron-container {
    background-image: url("../images/productpageheader.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
#user-pagetitle {
    font-family: Verdana;
}
#ProductCard-Link {
    text-decoration: none;
    color: black;
}
#ProductCard {
    width: 15rem;
    height: auto;
    min-height: 23rem;
}
#ProductCard-Row {
    margin-bottom: 12px;
}
#ProductCard-ProductName {
    text-align: center;
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
}
#ProductCard-ProductCategory {
    text-align: center;
    font-family: Verdana;
    font-size: 11px;
}
#ProductCard-ProductPrice {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: darkgreen;
}
#ProductCard-StarFill {
    color: #d39e00;
}
#ProductCard-Star {
    color: #d39e00;
}
#ProductCard-ProductImage {
    height: 200px;
    width: 200px;
}
#UserView-ProductCategoryFilter{
    align-self: end;
    width: 200px;
    margin-bottom: 10px;
}
#UserView-ProductPriceFilter{
    align-self: end;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 2px;
}
#ProductFilter-label {
    margin-top: 7px;
    margin-right: 10px;
}
#filterbtn {
    height: 40px;
    margin-left: 2px;
}
#filter-container {
    margin-bottom: -30px;
    margin-left: 18px;
}
@media screen and (max-width: 575px){

    #linksignup {
        font-size: 12px;
        margin-right: 9px;
    }
    .navbar-brand {
        width: 50px;
        height: 30px;
        font-size: 17px;
        margin-left: 5px;
    }
    #signupform {
        margin-top: 0px;
    }
    #signupshoppr {
        font-size: 28px;
        margin-top: -5px;
        text-align: center;
    }
    #signup-smalldescription {
        text-align: center;
    }
    #buttonlogin {
        width: 55px;
        height: 30px;
        font-size: 12px;
        text-align: center;
    }
    #LoginSignupContainer {
        margin-top: -25px;
        margin-right: 10px;
    }
    #tagline {
        font-size: 35px;
    }
    #landingcontent-smalldescription {
        font-size: 13px;
    }
    #TermsConditionsLabel {
        font-size: 12px;
    }
    #loginform {
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        width: auto;
        margin-top: 10px;
    }
    #FormInput-ErrorText {
        font-size: 12px;
    }
    #EditProfileInput-ErrorText {
        font-size: 12px;
    }
    #FirstName  {
        height: 30px;
        font-size: 12px;
    }
    #LastName  {
        height: 30px;
        font-size: 12px;
    }
    #Email  {
        height: 30px;
        font-size: 12px;
    }
    #Address  {
        height: 30px;
        font-size: 12px;
    }
    #Edit-FirstName  {
        height: 30px;
        font-size: 12px;
    }
    #Edit-LastName  {
        height: 30px;
        font-size: 12px;
    }
    #Edit-Email  {
        height: 30px;
        font-size: 12px;
    }
    #Edit-Address  {
        height: 30px;
        font-size: 12px;
    }
    #Edit-ZipCode  {
        height: 30px;
        font-size: 12px;
    }
    #Edit-ContactNumber  {
        height: 30px;
        font-size: 12px;
    }
    #Password1  {
        height: 30px;
        font-size: 12px;
    }
    #Password2  {
        height: 30px;
        font-size: 12px;
    }
    #Edit-CurrentPassword  {
        height: 30px;
        font-size: 12px;
    }
    #Edit-NewPassword  {
        height: 30px;
        font-size: 12px;
    }
    #nameError {
        font-size: 10px;
    }
    #passNumber {
        font-size: 11px;
    }
    #pass8Char {
        font-size: 11px;
    }
    #passSpecialChar {
        font-size: 11px;
    }
    #yourcart_text {
        display: block;
    }
    #navdropdown {
        border-radius: 0px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-nav {
        margin-right: 0px;
    }
    .nav-item {
        margin-left: 0px;
    }
    .nav-link.text-light {
        font-size: 16px;
        text-align: center;
    }
    #profile-maincontainer {
        padding-top: 70px;
    }
    #profile-secondarycontainer {
        padding-top: 5px;

    }
    #profilepic {
        width: 80px;
        height: 60px;
        margin-right: -10px;
    }
    #profile-tabtext {
        display: none;
    }
    #profile-shoppingcart {
        display: block;
        margin-left: 11px;
    }
    #profile-clipboardcomplete {
        display: block;
        margin-left: 11px;
    }
    #profile-cardlistpending {
        display: block;
        margin-left: 11px;
    }
    #cart-tab {
        border-bottom: 3px solid black;
        width: 80px;
        padding-bottom: 10px;
    }
    #pendingorders-tab {
        width: 80px;
    }
    #completedorders-tab {
        width: 80px;
    }
    #user-name {
        text-align: center;
        font-size: 16px;
        margin-left: 30px;
    }
    #user-email {
        text-align: center;
        font-size: 11px;
    }
    #user-address {
        text-align: center;
        font-size: 11px;
    }
    #product-img {
        width: 45px;
        height: 45px;
    }
    #cart-product-card {
        height: auto;
    }
    #product-name {
        font-size: 10px;
    }
    #product-price {
        font-size: 11px;
    }
    #product-quantity {
        font-size: 10px;
        margin-bottom: -2px;
    }
    #product-total-price {
        font-size: 11px;
    }
    #cart-quantity-input {
        width: 45px;
        height: 30px;
        font-size: 11px;
    }
    #orderstatus-indicator {
        font-size: 10px;
    }
    #adminMenuDropdown {
        font-size: 12px;
    }
    #adminMenuItem {
        font-size: 12px;
    }
    #adminmenuicon {
        font-size: 14px;
    }
    #menuicon{
        font-size: 14px;
    }
    #user-menuitem {
        font-size: 14px;
        text-align: center;
    }
    #hamburgericon {
        font-size: 20px;
    }
    #adminnavdropdown {
        margin-right: 20px;
        width: 90px;
    }
    #sidebarcontent {
        width: 200px;
    }
    #sidebarcontent-title {
        font-size: 15px;
    }
    #adminSidebar-tabActive {
        font-size: 13px;
    }
    #adminSidebar-tabInactive {
        font-size: 13px;
    }
    th {
        font-size: 11px;
    }
    #table-title {
        font-size: 16px;
    }
    td {
        font-size: 11px;
    }
    #ProductName {
        text-align: center;
        font-size: 11px;
    }
    #ProductLastAddedStockCount {
        font-size: 11px;
    }
    #ProductCurrentStockCount {
        font-size: 11px;
    }
    #AddStock {
        font-size: 11px;
    }
    #ProductPrice {
        font-size: 11px;
    }
    #ProductPrice-CurrencyLabel {
        text-align: center;
        font-size: 11px;
        padding-left: 2px;
        padding-right: 2px;
    }
    #ProductCategoryDropdown {
        text-align: center;
        font-size: 11px;
    }
    #ProductStatusDropdown {
        text-align: center;
        font-size: 11px;
    }
    #AccountStatusDropdown {
        text-align: center;
        font-size: 11px;
    }
    #ProductDescription {
        font-size: 11px;
    }
    #AddProductBtn {
        font-size: 12px;
    }
    #DeleteProductBtn {
        font-size: 12px;
    }
    #EditProductBtn {
        font-size: 12px;
    }
    #EditProductInventoryBtn {
        font-size: 12px;
    }
    #AddCategoryBtn {
        font-size: 12px;
        margin-top: 6px;
        margin-left: 0px;
    }
    #AddAccountBtn {
        font-size: 12px;
        margin-top: 6px;
        margin-left: 6px;
    }
    #EditAccountBtn {
        font-size: 12px;
        margin-top: 6px;
        margin-left: 6px;
    }
    #DeleteAccountBtn {
        font-size: 12px;
        margin-top: 6px;
        margin-left: 6px;
    }
    #searchBtn {
        font-size: 12px;
    }
    #searchbox{
        font-size: 12px;
        width: 250px;
    }
    #CategoryName {
        font-size: 11px;
    }
    #CategoryCode {
        margin-top: 6px;
        font-size: 11px;
        margin-left: 0px;
    }
    #editproduct-btn {
        font-size: 13px;
    }
    #editaccount-btn {
        font-size: 13px;
    }
    #editproductinventory-btn {
        font-size: 13px;
    }
    #deleteproduct-btn {
        font-size: 13px;
    }
    #updatestock-btn {
        font-size: 13px;
    }
    #updateorder-btn {
        font-size: 13px;
    }
    #admin-maincontainer {
        margin-top: 75px;
    }
    #addproduct-label {
        font-size: 16px;
        font-family: Verdana;
    }
    #addaccount-label {
        font-size: 16px;
        font-family: Verdana;
    }
    #editproduct-label {
        font-size: 16px;
        font-family: Verdana;
    }
    #editproductimage-label {
        font-size: 16px;
        font-family: Verdana;
    }
    #IncProfileInfo-ErrorText {
        font-size: 12px;
        margin-top: 3px;
    }
    #IncProfileInfo-ServerSide-ErrorContainer {
        width: 300px;
    }
    #Error-AlertDialog {
        margin-top: 70px;
        width: 220px;
        height: auto;
        padding-bottom: 0px;
    }
    #Error-AlertClose {
        font-size: 15px;
        margin-top: -12px;
    }
    #Error-AlertDialogText {
        margin-top: 3px;
        font-size: 13px;
    }
    #AdminError-AlertDialog {
        margin-top: 0px;
        width: 220px;
        height: auto;
        padding-bottom: 0px;
    }
    #AdminError-AlertClose {
        font-size: 20px;
        margin-top: -12px;
    }
    #AdminError-AlertDialogText {
        margin-top: 3px;
        font-size: 13px;
    }
    #ProductImageFile {
        font-size: 13px;
        margin-top: 10px;
    }
    #ProductImage {
        width: 120px;
        height: 100px;
    }
    #editproductimage-label {
        font-size: 14px;
    }
    #hamburgerbutton {
        margin-left: -15px;
    }
    #currentproductimage-container {
        width: 265px;
        margin: auto;
    }
    #stockinput-container {
        width: auto;
    }
    #stockinput-label{
        font-size: 11px;
        align-self: center;
    }
    #small-label {
        font-size: 11px;
    }
    #editproduct-buttoncontainer {
        display: flex;
        justify-content: center;
    }
    #deleteaccount-buttoncontainer {
        display: flex;
        justify-content: center;
    }
    #homeicon {
        font-size: 18px;
        margin-right: 10px;
    }
    #shoppingcart {
        font-size: 18px;
        margin-right: 10px;
    }
    #navbarDropdown {
        font-size: 14px;
    }
    #jumbotron-container {
        height: 200px;
    }
    #ProductCard {
        width: 8.5rem;
        height: auto;
        margin-top: 8px;
        min-height: 15.5rem;
    }
    #ProductCard-Row {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #ProductCard-ProductName {
        font-size: 9px;
        font-weight: normal;
    }
    #ProductCard-ProductCategory {
        font-size: 7px;
    }
    #ProductCard-ProductPrice {
        font-size: 12px;
    }
    #ProductCard-ProductImage {
        height: 102px;
        width: 102px;
    }
    #ProductCard-StarFill {
        font-size: 10px;
    }
    #ProductCard-Star {
        font-size: 10px;
    }
    #UserView-ProductCategoryFilter{
        align-self: start;
        width: 100px;
        font-size: 10px;
        height: 32px;
    }
    #UserView-ProductPriceFilter{
        align-self: start;
        width: 100px;
        font-size: 10px;
        height: 32px;
    }
    #ProductFilter-label {
        font-size: 10px;
        margin-top: 8px;
    }
    #filter-container {
        margin-bottom: -30px;
        margin-left: 18px;
    }
    #filterbtn {
        height: 32px;
    }
}